Header add Access-Control-Allow-Origin *
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

Options +FollowSymLinks
RewriteEngine on
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]


